<div id="fh5co-pricing-section" >
  <div class="container" >
    <div class="row">
      <div class="col-md-10 col-md-offset-2 text-center fh5co-heading animate-box">
        <h2 style = "font-size: 50px; color: #FFFFFF" > My Tools </h2>
        <p><%= link_to 'Invite To Join' %></p>
        <p><%= link_to 'Post Advert' %></p>
        <p><%= link_to 'Post Promo Video' %></p>
      </div>
    </div>
  </div>
</div>