<div id="fh5co-pricing-section" >
  <div class="container" >
    <div class="row">
      <div class="col-md-10 col-md-offset-2 text-center fh5co-heading animate-box">
        <h2 style = "font-size: 50px; color: #FFFFFF" > My Tools </h2>
        <div>
          <p>Invite To Join</p>
          <div id="shareBtn" class="btn btn-success clearfix">Share to FB</div>
        </div>
        <p><%= link_to 'Post Advert' %></p>
        <p><%= link_to 'Post Promo Video' %></p>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById('shareBtn').onclick = function() {
    $.ajaxSetup({ cache: true });
    $.getScript('//connect.facebook.net/en_US/sdk.js', function () {
      FB.ui({
        method: 'share',
        display: 'popup',
        href: 'https://developers.facebook.com/docs/',
      }, function(response){});
    });
  }
</script>