
<div class="fh5co-counters" data-stellar-background-ratio="0.5" id="counter-animate">
  <div class="fh5co-narrow-content">
      <div class="row">
        <div class="col-md-12 col-md-offset-1 animate-box" data-animate-effect="fadeInLeft">
            <h1 class="fh5co-heading-colored"> Frequently Asked Questions</h1>
        </div>
      </div>

    <div class="row">
      <div class="col-md-12">
        <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
          <div class="fh5co-icon">
            <i class="icon-info"></i>
          </div>
          <div class="fh5co-text">
             <h2 style = "color: #da1212"> What is Community Wealth SA?</h2><br/>
            <p>Community Wealth SA is a technical platform that helps millions of participants to connect. The two main groups of participants in this platform are composed of those that “need help” and those that are willing to give help in a form of donations. The “Instructions” on the platform serves to aid in assisting new participants on the platform. We don't only function as a stokvel but we provide more to our members, e.g: Provide our members with a platform to market their busineses to everybody that access our platform, and we also teach members other ways of creating wealth. There will be more. </p>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
          <div class="fh5co-text">
            <h2 style = "color: #da1212">How does Community Wealth SA work? </h2><br/>
             <p> When you join Community Wealth SA you join a community of like-minded members who are interested in donating money to each other. We use a peer-to-peer system. </p>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
          <div class="fh5co-text">
           <h2 style = "color: #da1212"> How do I participate? </h2><br/>
           </p> There are two ways to join: If you have been invited to join, click on that member's referral link and you will be instructed to fill out a simplified registration form. If not invited you can go to our website and click on the sign in option, a register page will appear where you will fill in your information and complete the registration process.
           </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
          <div class="fh5co-text">
           <h2 style = "color: #da1212"> How much do I need to donate to get started? </h2><br/>
           <p> You only need a minimum fare of R1000.00 to get started and Remember every day you money will accumulate and will earn you profit of 30% every month. </p>

           </div>
        </div>
      </div>


      <div class="col-md-12">
        <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
          <div class="fh5co-text">
           <h2 style = "color: #da1212"> Can I have more than one account? </h2><br/>
           <p> Yes you can, but it is pointless because you can have more donations running on the same platform. </p> 

           </div>
          </div>
        </div>

       <div class="col-md-12">
        <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
          <div class="fh5co-text">
           <h2 style = "color: #da1212"> Is there an expiry time stamp for my withdrawals? </h2><br/>
           <p> Yes, if you donate once, your interests will accumulate for 6 months and you need to ‘Compound’ or “Checkout” before the 6 month period expires. </p> 

           </div>
          </div>
        </div>

      <div class="col-md-12">
        <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
          <div class="fh5co-text">
           <h2 style = "color: #da1212"> Do I have to donate R1000 every month? </h2><br/>
           <p> R1000 is a minimum entry fee that is required when making donation, you do not need to donate a R1000 every month. </p> 

           </div>
          </div>
        </div>

       <div class="col-md-12">
        <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
          <div class="fh5co-text">
           <h2 style = "color: #da1212"> Are there any refunds? </h2><br/>
           <p> Since donations are being given freely and willingly (nothing is being purchased), there are no refunds. We use the word donation alot because we want to be within the laws of an online stokvel system. </p> 

           </div>
          </div>
        </div>

       <div class="col-md-12">
        <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
          <div class="fh5co-text">
           <h2 style = "color: #da1212"> Why trust Community Wealth SA? </h2><br/>
           <p> Community wealth SA is a network operating by the three foundational principles of technological freedom: Open Source code, true Peer-to-Peer technology, and mathematical algorithm. CommunityWealthSA trust is based on the subjective valuations of human faith in mathematical algorithms, encryption and numbers. </p> 

           </div>
          </div>
        </div>

    </div>
  </div>
</div>
