<div id="fh5co-pricing-section" class="fh5co-light-grey-section">
  <div id="fh5co-main">
    <div class="fh5co-counters" data-stellar-background-ratio="0.5" id="counter-animate">
      <div class="fh5co-narrow-content">
          <div class="row">
            <div class="col-md-12 col-md-offset-1 animate-box" data-animate-effect="fadeInLeft">
                <h1 class="fh5co-heading-colored"> Terms &amp; Conditions</h1>
            </div>
          </div>

        <div class="row">
          <div class="col-md-12">
            <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
             
                <h3>Community Wealth South Africa Welcomes You</h3>
                <p>By using this website (the “Site”) and services (together with the Site, the “Services”) offered by CommunityWealthSA. (together with its initiators, epresentatives, consultants, employees, and directors — collectively, hereinafter referred to as “CommunityWealthSA,” “we,” or “us”), you’re agreeing to these legally binding rules (the “Terms”). We may change these terms from time to time. If we do, we’ll let you know about any material changes by updating them on the Site or by sending you an email notifying you that they have been changed. New versions of the terms will never apply retroactively — we’ll tell you the exact date they go into effect. If you keep using Btc Investments after a change, it means you accept the new terms.</p>
       
            </div>
          </div>
          <div class="col-md-12">
            <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
              <div class="fh5co-icon">
                <i class="icon-folder"></i>
              </div>
              <div class="fh5co-text">
                <h3>Creating An Account</h3>
                <p>To be part of the community you’ll need to register, set up all your credentials and then fund your wallet. Do not donate a fee you do not have. The information you give us has to be accurate and complete as we will be giving out prices as we go. If you don’t follow these rules, you will not receive any price from us.You’re responsible for all the activity on your account, and for keeping your password confidential. If you find out that someone’s used your account without your permission, you should report it to admin@communityWealthSA.co.za. To sign up for an account, you need to be at least 18 years or older.</p>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
              <div class="fh5co-icon">
                <i class="icon-hazardous"></i>
              </div>
              <div class="fh5co-text">
                <h3>Prohibited Conduct</h3>
                <p>The following actions are prohibited on our site. <br/>

                 **: You may not break the law. You may not take any action that infringes or violates other people’s rights, violates the law, or breaches any contract or legal duty you have toward anyone. You may not lie to people. You may not post information you know is false, misleading, or inaccurate. You may not do anything deceptive or fraudulent. You may not offer prohibited items. You may not offer any rewards that are illegal, violate any of Btc Investments’ policies, rules, or guidelines, or violate any applicable law, statute, ordinance, or regulation. You may not victimize anyone. You may not do anything threatening, abusive, harassing, defamatory, libellous, tortuous, obscene, profane, or invasive of another person’s privacy. You may not spam. You may not distribute unsolicited or unauthorized advertising or promotional material, or any junk mail, spam, or chain letters. You may not run mail lists, list servers, or any kind of auto-responder or spam on or through the Site. You may not harm anyone’s computer. You may not distribute software viruses, or anything else (code, films, programs) designed to interfere with the proper function of any software, hardware, or equipment on the Site (whether it belongs to Btc Investments or another party).<br/> 

                **: You may not try to interfere with the proper workings of the Services.<br/>

                **: You may not bypass any measures we’ve put in place to secure the Services.<br/> **: You may not try to damage or get unauthorized access to any system, data, password, or other information, whether it belongs to communityWealthSA or another party.<br/> **: You may not take any action that imposes an unreasonable load on our infrastructure, or on our third-party providers. (We reserve the right to determine what is reasonable.)<br/> **: You may not use any kind of software or device (whether it’s manual or automated) to “crawl” or “spider” any part of the Site.<br/>**: You may not take apart or reverse engineer any aspect of communityWealthSA in an effort to access things like source code, underlying ideas, or algorithms. </p>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
              <div class="fh5co-icon">
                <i class="icon-money"></i>
              </div>
              <div class="fh5co-text">
                <h3> How Funding Works (Peer-To-Peer) </h3>
                <p> These are the terms that apply when you’re contributing to a cause: <br/>

                    **: You will make your contribution directly to the person whose cause you are funding via Bitcoin. You’ll provide your payment information when you contribute. Once the payment is verified your account will be upgraded. <br/>

                    **: Btc Investments doesn’t offer refunds. Once you have made your pledge, it is final.</p> <br/>
                <h3> Warranty Disclaimer </h3>
                <p>You use our Services solely at your own risk. They are provided to you “as is” and “as available” and without warranty of any kind, express or implied. <br/><br/>

                  COMMUNITYWEALTHSA SPECIFICALLY DISCLAIMS ANY AND ALL WARRANTIES AND CONDITIONS OF MERCHANTABILITY, NON-INFRINGEMENT, AND FITNESS FOR A PARTICULAR PURPOSE, AND ANY WARRANTIES IMPLIED BY ANY COURSE OF DEALING, COURSE OF PERFORMANCE, OR USAGE OF TRADE. NO ADVICE OR INFORMATION (ORAL OR WRITTEN) OBTAINED BY YOU FROM BTC INVESTMENTS SHALL CREATE ANY WARRANTY.</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
