<div id="fh5co-pricing-section" class="fh5co-light-grey-section">
  <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>

  <div id="fh5co-pricing-section" class="fh5co-light-grey-section" style="margin-top: 10px;">
    <div class="col-md-10 col-md-offset-2 text-center fh5co-heading animate-box">
      <h2 style="font-size: 50px; color: #FFFFFF">Community Wealth SA <%= link_to image_tag('sa-flag.png') %></h2>
    </div>
    <div id="fh5co-main">
      <div class="scrollable">
        <div class="items">
        </div>
      </div>
    </div>
  </div>

  <div id="fh5co-pricing-section" class="fh5co-light-grey-section ">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-2 text-center fh5co-heading animate-box"><br/>
          <h2>
            <button onclick="myFunction()">HIDE ADVERTISEMENTS</button>
          </h2>
        </div>
      </div>
      <div class="row" id="myDIV">
        <div class="col-md-12 col-md-offset-1 text-center animate-box">
          <div class="pricing">
            <div class="col-md-4 animate-box">
              <div class="price-box">
                <h2 class="pricing-plan">ADVERTS</h2>
                <p class="show-read-more">Ut auctor velit sed consectetur rhoncus. Nunc dictum facilisis felis nec
                  facilisis. Integer nec justo vitae orci cursus fermentum. Fusce semper, mi non tempus congue, velit
                  leo efficitur quam, laoreet venenatis libero felis et lacus. Pellentesque mattis hendrerit nisi
                  gravida hendrerit. Mauris sagittis tincidunt scelerisque. Vivamus lectus erat, dictum et magna quis,
                  iaculis finibus nisl. Aliquam quis ante odio. Etiam tincidunt tellus tristique turpis tincidunt,
                  eget </p>
              </div>
            </div>

            <div class="col-md-4 animate-box">
              <div class="price-box">
                <h2 class="pricing-plan">ADVERTS</h2>
                <p class="show-read-more">Ut auctor velit sed consectetur rhoncus. Nunc dictum facilisis felis nec
                  facilisis. Integer nec justo vitae orci cursus fermentum. Fusce semper, mi non tempus congue, velit
                  leo efficitur quam, laoreet venenatis libero felis et lacus. Pellentesque mattis hendrerit nisi
                  gravida hendrerit. Mauris sagittis tincidunt scelerisque. Vivamus lectus erat, dictum et magna quis,
                  iaculis finibus nisl. Aliquam quis ante odio. Etiam tincidunt tellus tristique turpis tincidunt,
                  eget </p>
              </div>
            </div>

            <div class="col-md-4 animate-box">
              <div class="price-box popular">
                <h2 class="pricing-plan">ADVERTS</h2>
                <p class="show-read-more">Ut auctor velit sed consectetur rhoncus. Nunc dictum facilisis felis nec
                  facilisis. Integer nec justo vitae orci cursus fermentum. Fusce semper, mi non tempus congue, velit
                  leo efficitur quam, laoreet venenatis libero felis et lacus. Pellentesque mattis hendrerit nisi
                  gravida hendrerit. Mauris sagittis tincidunt scelerisque. Vivamus lectus erat, dictum et magna quis,
                  iaculis finibus nisl. Aliquam quis ante odio. Etiam tincidunt tellus tristique turpis tincidunt,
                  eget </p>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="fh5co-main">
  <div class="fh5co-counters" style='background-image: <%= image_tag('hero.jpg')%>' data-stellar-background-ratio="0.5" id="counter-animate" >
    <div class="fh5co-narrow-content">

      <div class="row">
        <div class="col-md-12">
          <div class="fh5co-feature animate-box">
           
              <h3>Community Wealth SA </h3>
              <p>Platform gives you a technical platform which helps millions of participants to connect those who need help to those who are ready to provide help, FOR FREE. All transferred funds to another participant are your help given by your own good will to another one, absolutely gratis. If you are completely confident and certain in your actions and make your mind to participate, we kindly ask you to study carefully all warnings and instructions first. In cases of any matter regarding the topic Our online consultants are ready to help and answer all of your questions. We have a call centre. We are not a bank, we do not collect your money,  we are not an online business, HYIP, investment or MLM program. CommunityWealthSA is a community where people help each other.</p>

          </div>
        </div> 

        <div class="col-md-12">
          <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
            <div class="fh5co-icon">
              <i class="icon-money"></i>
            </div>
            <div class="fh5co-text">
              <h3> Funds Generation Process </h3>
              <p> Our platform does not run dry of funds. We grown/invest initial donations into companies that guarantee us better returns than we promise our fellow members. We have bitcoin mining machines in which we grow most our funds and through trading against world wide currencies. This will be the first and there will be more platforms for making extra income that we will provide to members. Crypto currency will be next. </p>
            </div>
          </div>
        </div>      

        <div class="col-md-12">
          <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
            <div class="fh5co-icon">
              <i class="icon-flag-o"></i>
            </div>
            <div class="fh5co-text">
              <h3>Attention</h3>
              <p>Please note: You not required to invite new people to the system! Should you wish to invite anyone? That's good for you, you will get a 10% referral bonus for that. If you do not? It's okay too, your loss. You are free to participate without attracting new members, be selfish like that! PIG!. </p>
            </div>
          </div>
        </div>
        
        <div class="col-md-12">
          <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
     
              <h3>Joining Our Community</h3>
              <p>Any person of legal age (18 years and older) can  join the Community. All members are treated equally, irrespective of age, race,  social group, work status, political background, country  or religion. CommunityWealthSA allows any person who lives in the Republic of South Africa, Lesotho, Swaziland, Namibia or Botswana and has an Identity Document (ID) of one of these countries. Our goal is to have a community of like-minded individuals who also have a desire to make a difference in different South African communities. This platform will help people gain funds to support their needs, whether to pay for unexpected medical bills, get funds for school, transport, food in the house or any special reason you may need extra funds weekely or monthly for. <br/><br/> Read more <a href="#">Instrutions</a></p>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>