<div id="fh5co-pricing-section" class="fh5co-light-grey-section">
  <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>

  <div id="fh5co-pricing-section" class="fh5co-light-grey-section" style="margin-top: 10px;">
    <div class="col-md-10 col-md-offset-2 text-center fh5co-heading animate-box">
      <h2 style="font-size: 50px; color: #FFFFFF">Community Wealth SA <%= link_to image_tag('sa-flag.png') %></h2>
    </div>
    <div id="fh5co-main">
      <div class="scrollable">
        <div class="items">
        </div>
      </div>
    </div>
  </div>

  <div id="fh5co-pricing-section" class="fh5co-light-grey-section ">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-2 text-center fh5co-heading animate-box"><br/>
          <h2>
            <button onclick="myFunction()">HIDE ADVERTISEMENTS</button>
          </h2>
        </div>
      </div>
      <div class="row" id="myDIV">
        <div class="col-md-12 col-md-offset-1 text-center animate-box">
          <div class="pricing">
            <div class="col-md-4 animate-box">
              <div class="price-box">
                <h2 class="pricing-plan">ADVERTS</h2>
                <p class="show-read-more">Ut auctor velit sed consectetur rhoncus. Nunc dictum facilisis felis nec
                  facilisis. Integer nec justo vitae orci cursus fermentum. Fusce semper, mi non tempus congue, velit
                  leo efficitur quam, laoreet venenatis libero felis et lacus. Pellentesque mattis hendrerit nisi
                  gravida hendrerit. Mauris sagittis tincidunt scelerisque. Vivamus lectus erat, dictum et magna quis,
                  iaculis finibus nisl. Aliquam quis ante odio. Etiam tincidunt tellus tristique turpis tincidunt,
                  eget </p>
              </div>
            </div>

            <div class="col-md-4 animate-box">
              <div class="price-box">
                <h2 class="pricing-plan">ADVERTS</h2>
                <p class="show-read-more">Ut auctor velit sed consectetur rhoncus. Nunc dictum facilisis felis nec
                  facilisis. Integer nec justo vitae orci cursus fermentum. Fusce semper, mi non tempus congue, velit
                  leo efficitur quam, laoreet venenatis libero felis et lacus. Pellentesque mattis hendrerit nisi
                  gravida hendrerit. Mauris sagittis tincidunt scelerisque. Vivamus lectus erat, dictum et magna quis,
                  iaculis finibus nisl. Aliquam quis ante odio. Etiam tincidunt tellus tristique turpis tincidunt,
                  eget </p>
              </div>
            </div>

            <div class="col-md-4 animate-box">
              <div class="price-box popular">
                <h2 class="pricing-plan">ADVERTS</h2>
                <p class="show-read-more">Ut auctor velit sed consectetur rhoncus. Nunc dictum facilisis felis nec
                  facilisis. Integer nec justo vitae orci cursus fermentum. Fusce semper, mi non tempus congue, velit
                  leo efficitur quam, laoreet venenatis libero felis et lacus. Pellentesque mattis hendrerit nisi
                  gravida hendrerit. Mauris sagittis tincidunt scelerisque. Vivamus lectus erat, dictum et magna quis,
                  iaculis finibus nisl. Aliquam quis ante odio. Etiam tincidunt tellus tristique turpis tincidunt,
                  eget </p>
              </div>
            </div>


          </div>
        </div>

        <div class="col-md-12 col-md-offset-1 text-center animate-box">
          <div class="pricing">
            <div class="col-md-4 animate-box">
              <div class="price-box">
                <h2 class="pricing-plan">ADVERTS</h2>
                <p class="show-read-more">Ut auctor velit sed consectetur rhoncus. Nunc dictum facilisis felis nec
                  facilisis. Integer nec justo vitae orci cursus fermentum. Fusce semper, mi non tempus congue, velit
                  leo efficitur quam, laoreet venenatis libero felis et lacus. Pellentesque mattis hendrerit nisi
                  gravida hendrerit. Mauris sagittis tincidunt scelerisque. Vivamus lectus erat, dictum et magna quis,
                  iaculis finibus nisl. Aliquam quis ante odio. Etiam tincidunt tellus tristique turpis tincidunt,
                  eget </p>
              </div>
            </div>

            <div class="col-md-4 animate-box">
              <div class="price-box">
                <h2 class="pricing-plan">ADVERTS</h2>
                <p class="show-read-more">Ut auctor velit sed consectetur rhoncus. Nunc dictum facilisis felis nec
                  facilisis. Integer nec justo vitae orci cursus fermentum. Fusce semper, mi non tempus congue, velit
                  leo efficitur quam, laoreet venenatis libero felis et lacus. Pellentesque mattis hendrerit nisi
                  gravida hendrerit. Mauris sagittis tincidunt scelerisque. Vivamus lectus erat, dictum et magna quis,
                  iaculis finibus nisl. Aliquam quis ante odio. Etiam tincidunt tellus tristique turpis tincidunt,
                  eget </p>
              </div>
            </div>

            <div class="col-md-4 animate-box">
              <div class="price-box popular">
                <h2 class="pricing-plan">ADVERTS</h2>
                <p class="show-read-more">Ut auctor velit sed consectetur rhoncus. Nunc dictum facilisis felis nec
                  facilisis. Integer nec justo vitae orci cursus fermentum. Fusce semper, mi non tempus congue, velit
                  leo efficitur quam, laoreet venenatis libero felis et lacus. Pellentesque mattis hendrerit nisi
                  gravida hendrerit. Mauris sagittis tincidunt scelerisque. Vivamus lectus erat, dictum et magna quis,
                  iaculis finibus nisl. Aliquam quis ante odio. Etiam tincidunt tellus tristique turpis tincidunt,
                  eget </p>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

  <div id="fh5co-main">
  <div class="fh5co-counters" style='background-image: <%= image_tag('hero.jpg')%>' data-stellar-background-ratio="0.5" id="counter-animate" >
    <div class="fh5co-narrow-content">

      <div class="row">
        <div class="col-md-6">
          <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
            <div class="fh5co-icon">
              <i class="icon-strategy"></i>
            </div>
            <div class="fh5co-text">
              <h3>Strategy</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
            <div class="fh5co-icon">
              <i class="icon-telescope"></i>
            </div>
            <div class="fh5co-text">
              <h3>Explore</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
            <div class="fh5co-icon">
              <i class="icon-circle-compass"></i>
            </div>
            <div class="fh5co-text">
              <h3>Direction</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
            <div class="fh5co-icon">
              <i class="icon-tools-2"></i>
            </div>
            <div class="fh5co-text">
              <h3>Expertise</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>