<div id="fh5co-pricing-section" class="fh5co-light-grey-section">
  <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>

  <div id="fh5co-pricing-section" class="fh5co-light-grey-section" style="margin-top: 10px;">
    <div class="col-md-10 col-md-offset-1 text-center fh5co-heading animate-box">
      <h2 style="font-size: 50px; color: #FFFFFF">Community Wealth SA <%= link_to image_tag('sa-flag.png') %></h2>
    </div>
    <div class="scrollable">
      <div class="items">
      </div>
    </div>
  </div>

  <div id="fh5co-pricing-section" class="fh5co-light-grey-section ">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center fh5co-heading animate-box">
      <h2 style="font-size: 40px; color: #FFFFFF">FREE BUSINESS ADVERTISING</h2>
    </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-md-offset-0 text-center animate-box">
          <div class="pricing">
            <div class="col-md-4 animate-box">
              <div class="price-box">
                <h2 class="pricing-plan">ADVERTS</h2>
                <p class="show-read-more">Ut auctor velit sed consectetur rhoncus. Nunc dictum facilisis felis nec
                  facilisis. Integer nec justo vitae orci cursus fermentum. Fusce semper, mi non tempus congue, velit
                  leo efficitur quam, laoreet venenatis libero felis et lacus. Pellentesque mattis hendrerit nisi
                  gravida hendrerit. Mauris sagittis tincidunt scelerisque. Vivamus lectus erat, dictum et magna quis,
                  iaculis finibus nisl. Aliquam quis ante odio. Etiam tincidunt tellus tristique turpis tincidunt,
                  eget </p>
              </div>
            </div>

            <div class="col-md-4 animate-box">
              <div class="price-box">
                <h2 class="pricing-plan">ADVERTS</h2>
                <p class="show-read-more">Ut auctor velit sed consectetur rhoncus. Nunc dictum facilisis felis nec
                  facilisis. Integer nec justo vitae orci cursus fermentum. Fusce semper, mi non tempus congue, velit
                  leo efficitur quam, laoreet venenatis libero felis et lacus. Pellentesque mattis hendrerit nisi
                  gravida hendrerit. Mauris sagittis tincidunt scelerisque. Vivamus lectus erat, dictum et magna quis,
                  iaculis finibus nisl. Aliquam quis ante odio. Etiam tincidunt tellus tristique turpis tincidunt,
                  eget </p>
              </div>
            </div>

            <div class="col-md-4 animate-box">
              <div class="price-box popular">
                <h2 class="pricing-plan">ADVERTS</h2>
                <p class="show-read-more">Ut auctor velit sed consectetur rhoncus. Nunc dictum facilisis felis nec
                  facilisis. Integer nec justo vitae orci cursus fermentum. Fusce semper, mi non tempus congue, velit
                  leo efficitur quam, laoreet venenatis libero felis et lacus. Pellentesque mattis hendrerit nisi
                  gravida hendrerit. Mauris sagittis tincidunt scelerisque. Vivamus lectus erat, dictum et magna quis,
                  iaculis finibus nisl. Aliquam quis ante odio. Etiam tincidunt tellus tristique turpis tincidunt,
                  eget </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="fh5co-counters" style="background-image: url(<%= image_path('2.jpg') %>'data-stellar-background-ratio="0.5" id="counter-animate" >
    <div class="fh5co-narrow-content">

      <div class="row">
        <div class="col-md-12">
          <div class="fh5co-feature animate-box">
           
              <h2 style = "color: #da1212">Community Wealth SA </h2>
              <p> Its a technical automatic platform that helps millions of participants to connect those who need help to those who are ready to provide help, FOR FREE. All transferred funds to another participant are your help given by your own good will to another one, absolutely gratis. If you are completely confident and certain in your actions and make your mind to participate, we kindly ask you to study carefully all warnings and instructions first. In cases of any matter regarding the topic Our online consultants are ready to help and answer all of your questions. We have a call centre. We are not a bank, we do not collect your money,  we are not an online business, HYIP, investment or MLM program. <br/>CommunityWealthSA is a community where people help each other. We the initiators took it to ourselves to find other sources that will fund the system as we move and we have been successful in doing so. </p><br/>

          </div>
        </div> 

        <div class="col-md-12">
          <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
            <div class="fh5co-icon">
              <i class="icon-money"></i>
            </div>
            <div class="fh5co-text">
              <h2 style = "color: #da1212"> Funds Generation Process </h2><br/>
              <p> Community Wealth SA is not dependent on new members joining, it was however a great initiative to ensure that everyone is allowed an opportunity to start earning some real passive income and not having to worry about being scammed! Remember this is a stokvel, but the success and function ability of the system is not depended on new members joining in. The system is composed of external sources of income to generate and grow your money. These are just some of the ways you might not have heard about before :) </p><br/>

              <h2 style = "color: #da1212"> Bitcoin Mining </h2><br/>
              <p> Bitcoin mining is the process of adding transaction records to Bitcoin's public ledger of past transactions or blockchain. This ledger of past transactions is called the block chain as it is a chain of blocks. The block chain serves to confirm transactions to the rest of the network as having taken place. </p><br/>


              <h2 style = "color: #da1212"> Online surveys </h2><br/>
              <p> Community Wealth SA has got Hands down the quickest way to make a lot of money legally. Lots of people from students to stay at home moms / dads have genuinely made hundreds of thousands of rands from a stokvel technique. It is completely legal, risk free, tax free, but unfortunately it is time consuming. Community Wealth SA has taken that into account and decided to do everything for you and online! <br/>Here are some of the ways money is generated on the system. This is additional income for you! not because you have to, but because you want to!: <br><br> An increasingly popular way that the system is able to draw funds from is through online survey. Research companies are always recruiting new members to answer surveys and test new products. Community Wealth SA has agreements in place with well known businesses to conduct these online Surveys. From one individual spending a few minutes filling one online survey, Community Wealth SA makes up to R70 ($5) !! <br/><br> Some of Community Wealth SA’s Partner companies includes (but not limited to): Toluna, Vivatic, OnePoll, MySurvey, SurveyBods, Valued Opinions, YouGov, PopulusLive, Global Test Market, The Opinion Panel, Pinecone, IPSOS, Crowdology, Hiving, PanelBase, MintVine, Opinion Outpost, Harris Poll, Mind Mover, New Vista, iPoll. <br/>The community has also signed up with Swagbucks which rewards you for surveys as well as simply surfing the web, watching videos and playing games.</p> <br/>


              <h2 style = "color: #da1212"> Paid for searching the web </h2><br/>
              <p> Interested in earning cash for doing what you already do online? This has to be one of the easiest methods of making money online. This innovative idea by Qmee rewards you for searching on Google, Bing or Yahoo. By simple installing an add-on to the browser, there are few sponsored results alongside the normal search.</p><br/>


              <h2 style = "color: #da1212"> Online market trading </h2><br/>
              <p> The historically hard-to-break world of investing in stock markets and currencies has been cracked wide open. Today there is no need to be a fat cat or fund the yachts of Wolf of Wall Street style stock brokers. You can do it all yourself with the help of online market trading platforms.<br/><br>  Community Wealth SA’s research team spent a great deal of time researching this new opportunity; and experimenting with the two biggest platforms: Plus500 and eToro. Both platforms offer free practice accounts, and have millions and millions of users. </p><br/>

              <h2 style = "color: #da1212"> We Review websites & apps for cash </h2><br/>
              <p> Well it seems our team is pretty nifty with a web browser, so Community Wealth SA decided it’s time to turn pro and browse websites to a fun and paid job! We have sources that pays Community Wealth SA every day to review all kinds of websites. Each review takes up to 20 minutes and earns the system up to R150 each.
            </p><br/>

             <h2 style = "color: #da1212"> WGet Paid To’ sites </h2><br/>
              <p> Similar to making money from online surveys, GPT sites reward Community Wealth SA cash and vouchers for completing various offers or activities online. <br/> The most popular sites today are Toluna, Swagbucks and InboxPounds. 
            </p><br/>


             <h2 style = "color: #da1212"> Affiliate marketing </h2><br/>
              <p> Community Wealth SA has got a good presence on social media with over 20 blogs and websites. The community started promoting of companies, products, services and offers online services to generate funds for the system. Remember the system does ALL the work for you.g
            </p><br/><br>


            </div>
          </div>
        </div>      

        <div class="col-md-12">
          <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
            <div class="fh5co-icon">
              <i class="icon-flag-o"></i>
            </div>
            <div class="fh5co-text">
              <h2 style = "color: #da1212">Attention</h2><br/>
              <p>Please note: You not required to invite new people to the system! Should you wish to invite anyone? That's good for you, you will get a 10% referral bonus for that. If you do not? It's okay too, your loss. You are free to participate without attracting new members, be selfish like that! PIG!. </p>
            </div>
          </div>
        </div>
        
        <div class="col-md-12">
          <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
     
              <h2 style = "color: #da1212">Joining Our Community</h2>
              <p>Any person of legal age (18 years and older) can  join the Community. All members are treated equally, irrespective of age, race,  social group, work status, political background, country  or religion. CommunityWealthSA allows any person who lives in the Republic of South Africa, Lesotho, Swaziland, Namibia or Botswana and has an Identity Document (ID) of one of these countries. Our goal is to have a community of like-minded individuals who also have a desire to make a difference in different South African communities. This platform will help people gain funds to support their needs, whether to pay for unexpected medical bills, get funds for school, transport, food in the house or any special reason you may need extra funds weekely or monthly for. <br/><br/> Read more <a href="#">Instrutions</a></p>

          </div>
        </div>

      </div>
    </div>
  </div>

  </div>
</div>