<div id="fh5co-pricing-section" class="fh5co-light-grey-section">
    <div class="fh5co-counters" data-stellar-background-ratio="0.5" id="counter-animate">
      <div class="fh5co-narrow-content">
        <div class="row">
           <div class="row">
              <div class="col-md-12 col-md-offset-3 animate-box" data-animate-effect="fadeInLeft">
                <h1 class="fh5co-heading-colored"> Participation Instructions</h1>
              </div>
            </div>

          <div class="col-md-12">
            <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
              <div class="fh5co-icon">
                <i class="icon-lightbulb"></i>
              </div>
              <div class="fh5co-text">
                <h3>HOW DO WE OPERATE </h3>
                <p> We are a community of people providing each other financial help on the principle of gratuitousness, reciprocity and benevolence. CommunityWealthSA gives people a technical platform which will help millions of participants to connect those who NEED help to those who are ready to PROVIDE help, for FREE. All transferred funds to another participant are your help  given by your own good will to another one, absolutely gratis. If you are completely confident and certain in your actions and make your mind to participate, we kindly ask you to study carefully all warnings and instructions first. In cases of any matter regarding the topic Our online consultants are ready to help and answer all of your questions. We are not a bank, we do not collect your money,  we are not an online business, HYIP, investment or MLM program. CommunityWealthSA is a community where people help each other. <br/><br/> In this platform we dont ask members to sign a contracts or pledge your property. There are no lenders and no debtors. Everything is very simple: one participant asks for help — another one helps. The one thing we demand from all participants is to be honest and kind to each other. You ask for financial help when you need it, you give financial help when you are able to do it. You declare the willingness to give a donation, after which your account will be loaded on the system. Your funds start growing from the moment of offering the contribution at the rate of 30% per month (it may be more depending on participation) This sum shows how much you can request for yourself weekly or monthly.
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
              <div class="fh5co-icon">
                <i class="icon-tools"></i>
              </div>
              <div class="fh5co-text">
                <h3>Personal Back Office</h3>
                <p>Personal Back Office is a personalized section of the site, available for registered members. Through Personal Office you can: </p>
                <h3> Donate and Recieve Donation </h3>
                <p>You can see how your donations grow </p>
                <h3> Register New Members (Optional) </h3>
                <p>You make extra cash by referring members on the system. </p>
                <h3> Get in touch with: </h3>
                <p>The Support Team — if you need to solve Personal Back Office issues if you need any advice or help Contact transfer Recipient or Sender — if you need to clear something up about transfer
 </p>
                <h3> Make personal settings </h3>
                <p>Edit your personal Contact info, change Privacy settings, add your bank account details and BitCoin`s accounts.
 </p>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
              <div class="fh5co-icon">
                <i class="icon-gift2"></i>
              </div>
              <div class="fh5co-text">
                <h3>REFERRAL BONUS</h3>
                <p>Participants are credited with a Referral Bonus of 10% from the amount of the contribution made by each new member (referral) you invited to the System. Bonuses are credited in as soon as the referral has provided help and activated his/her account. You can invite a participant through a referral link. You will get the bonus from each referral’s new contribution, but only for "new" donations. For example, if he provides help of R1000, you will get R100 bonus. <br/>
                Please note: You not required to invite new people to the system! Should you wish to invite anyone? That's good for you, you will get a 10% referral bonus for that. If you do not? It's okay too, your loss. You are free to participate without attracting new members.
              </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
