
<div class="fh5co-counters" data-stellar-background-ratio="0.5" id="counter-animate">
  <div class="fh5co-narrow-content">
    <div class="row">
       <div class="row">
          <div class="col-md-12 col-md-offset-5 animate-box" data-animate-effect="fadeInLeft">
            <h1 class="fh5co-heading-colored"> Participation Instructions</h1>
          </div>
        </div>

      <div class="col-md-12">
        <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
          <div class="fh5co-icon">
            <i class="icon-info"></i>
          </div><br/>
          <div class="fh5co-text">
            <h2 style = "color: #da1212">1. Sign up </h2><br/>
            <p> Signing up is simple creating a profile in our community (Community Wealth South Africa). By doing so, you’re that recognised as a participant of Community Wealth SA. There is an option to “sign up” under “Log in”. You will be required to input the required information on the table as they request. </p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
          <div class="fh5co-text">
            <h2 style = "color: #da1212">2. Banking Information </h2><br/>
            <p>After signing up on the platform, you must insert your personal “Banking Information”. You will be required to fill in the banking information as accurately as possible. This will ensure that you get paid!  your money will be transferred to the account details are displayed on the system. This will also avoid the process of having to verifying banking details before other members can donate to your account. </p>
           
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
          <div class="fh5co-text">
             <h2 style = "color: #da1212">3. Login </h2><br/>
            <p> After successfully signing up, you can now login to your account. You must use your own email-address and create a password. Password is to be kept confidential.
          </p>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
          <div class="fh5co-text">
             <h2 style = "color: #da1212">4. Donation </h2><br/>
            <p> You need to have a minimum of R1000.00 to donate. Once you have successfully registered as a user on the system, you will then be allowed to donate. The system will only allow you to donate with a <b>minimum of R1000.00 and not more than R100 000! </b>  You need to click on the “Donate” button and select the amount you wish to donate. Community Wealth SA will automatically assign you a member that you need make a donation to. You will then be given 24 hours to donate to that member.  If the donation is not done within 48 hours, old members will be penalised and if you are a new member your account will be deleted. <br/> <br/> After the donation has been made, the amount you donated with will be displayed on your donation tab. Your profit will start to grow and each day you will see an increment on your profit. You will are allowed to withdraw or compound your money any time, as long as your profits are R1000.00 and above. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
