<div id="fh5co-pricing-section" class="fh5co-light-grey-section">
    <div class="fh5co-counters" data-stellar-background-ratio="0.5" id="counter-animate">
      <div class="fh5co-narrow-content">
          <div class="row">
            <div class="col-md-12 col-md-offset-1 animate-box" data-animate-effect="fadeInLeft">
                <h1 class="fh5co-heading-colored"> Community Wealth South Africa </h1>
            </div>
          </div>

        <div class="row">
          <div class="col-md-10">
            <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
             
                <h3 style = "color: #da1212"> Terms &amp; Conditions </h3>
                <p>All stakeholders using services of Community Wealth SA abide to the rules of this community herein referred to as terms. The terms and conditions of this site as are such that each participant is highly protected and that no participant’s rights will be violated upon joining the community. 
                The terms of this site are subjected to change, and shall this be, all the participants will be notified due ahead of time through their mobiles and email lines. <br/>

            Updates and Upgrades of the terms and the site will be communicated; the dates and the times of such occurrence will be communicated to all stakeholders. The host will not be held responsible for any incorrectly transferred funds. Upon signing on the site, users are assumed to have read and understood the conditions. </p>
       
            </div>
          </div>

          <div class="col-md-10">
            <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
             
                <h3 style = "color: #da1212"> Prohibited Conduct </h3>
                <p>You may not take any action that infringes or violets others rights or breach any contract or legal duty that may abide.<br/> Misleading, untrue or inaccurate information is prohibited.<br/>
                You may not do anything deceptive or fraudulent.<br/>
                Any form or threat, abuse, harassment or any sign of inversion on another person’s privacy is strictly prohibited.<br/>
                You may not distribute any software virus through the site. <br/>
                You may not try to interfere with the work at these services.<br/>
                You may not try to interfere with the work of these services.<br/>
                You may not bypass any measure the author(s) put in place to secure the platform.<br/> 
                You may not take apart or even try to reverse engineer any aspect of Community Wealth South Africa in an effort to access the source code, underlying ideas or algorithms. </p>
       
            </div>
          </div>


          <div class="col-md-10">
            <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
             
                <h3 style = "color: #da1212"> Creating an Account </h3>
                <p>Users need to be 18 year older. To be part of this community the user need to register their credentials,<b> PLEASE NOTE: THE INFORMATION GIVEN NEED TO BE ACCURATE AND PRECISE.</b><br/>
              Users are responsible for all activities on their accounts; therefore users are advised to keep their passwords confidential. </p>
       
            </div>
          </div>


          <div class="col-md-10">
            <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
             
                <h3 style = "color: #da1212"> How Funding works (Peer-to-peer) </h3>
                <p>1- Make donation on the site.<br/>
                    2- Your donation/contribution will be directed to the person whose course you’re funding.<br/>
                    3- User need to provide their payment information when they contribute or make a donation on the platform.<br/>
                    4- Once an account has been verified, the users account will be updated with latest input data or information. </p>
       
            </div>
          </div>


          <div class="col-md-10">
            <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
             
                <h3 style = "color: #da1212"> Warranty disclaimer </h3>
                <p>You are using the service solely at your own risk. Services are provided to you “AS IS”, and “AS AVAILABLE” and without warranty of any kind.
                CommunityWealthSA specifically Disclaimer all warranties and conditions of merchantability, non-infringement. <br/>
                CommunityWealthSA provides its users with the platform, shall the donated funds be disclaimed by the recipient; the community will not be held accountable. <b>ENSURE THAT ALL INFORMATION PROVIDED IS VALID.</b></p>
       
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
