<%= form_for(@donation, remote: true, format: :json, :html => { :role => 'form' }) do |f| %>
    <h2> HOW MUCH IS YOUR DEPOSIT? <sup class="currency"></sup></h2><br/>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <div class="price">
      <%= f.number_field(:amount, class: 'btn btn-primary btn-outline') %><sup class="currency"></sup>
    </div>
    <br/><br/>

    <button type="submit" name="submit" class="btn btn-primary btn-outline" style="" required="required" data-toggle="modal" data-target="#Deposit" >Cancel</button>
    <%= f.submit('Approve', class: 'btn btn-primary btn-outline', required: 'required') %>
<% end %>