<div id="fh5co-pricing-section" class="fh5co-light-grey-section">
  <div id="fh5co-pricing-section" class="fh5co-light-grey-section" style="margin-top: 10px;">
    <div class="col-md-10 col-md-offset-2 text-center fh5co-heading animate-box">
      <h2 style="font-size: 50px; color: #FFFFFF">Community Wealth SA <%= link_to image_tag('sa-flag.png') %></h2>
    </div>
    <div id="fh5co-main">
      <div class="scrollable">
        <div class="items">
        </div>
      </div>
    </div>
  </div>
</div>