<div id="fh5co-pricing-section" class="fh5co-light-grey-section ">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center fh5co-heading animate-box">
          <h2 style="font-size: 50px; color: #FFFFFF"> FREE BUSINESS MARKETING </h2>
        </div>

        <%= render partial: 'ads_container', locals: {
            adverts: @adverts
        } %>
      </div>
    </div>
</div>