<div class="fh5co-counters" style='background-image: <%= image_tag('hero.jpg')%>' data-stellar-background-ratio="0.5" id="counter-animate" >
    <div class="fh5co-narrow-content">

      <div class="row">
        <div class="col-md-6">
          <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">           
            <div class="fh5co-text">
              <h2 style = "color: #da1212"> Dashboard </h2><br/>
              <p>To donate in this platform, you need to have a minimum fare of R1000. Once you’ve registered as a user on this system, you’re than allowed to donate. Donations starts on a minimum amount of R1000.00 easy!! </p>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
            <div class="fh5co-text">
              <h2 style = "color: #da1212"> Interest Rate </h2><br/>
              <p>Once the user has donated, an increment on their donation will begin counting their profits. This means the fun begins. An amount from 30% of your total donation will be added every month onto your account. Based on user participation the 30% will increment. </p>
            </div>
          </div>
        </div>donation

        <div class="col-md-6">
          <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
            <div class="fh5co-text">
              <h2 style = "color: #da1212"> Donation Count_down </h2><br/>
              <p>Count down to pay day!!! This counter will alert the user (you) of the number of days that has expired since your last donation and the amount of days remaining till you can withdraw your money.</p>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
            <div class="fh5co-text">
              <h2 style = "color: #da1212"> Wallet Withdraw Cash </h2><br/>
              <p> The button "check out" button sends your profits to the wallet where you can specify how much you want to take out from the system. Then on the wallet its self you will see the maximum amount you can withdraw from your account.</p>
            </div>
          </div>
        </div>


        <div class="col-md-6">
          <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
            <div class="fh5co-text">
              <h2 style = "color: #da1212">New Referrals</h2><br/>
              <p> This icon shows the user the number of users that were referred by them. EXCITING!! , you get paid to refer someone to the system. Note that the referred user has to be active on the system before you get paid. The referee will earn 10% of the total donation of the newly referred user once the new user has donated.</p>
            </div>
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
            <div class="fh5co-text">
              <h2 style = "color: #da1212"> Active Referrals</h2><br/>
              <p>Active referrals are participants that were referred to the system by you and have active accounts. The referees have to donate to the system before they can be seen as active members or appear on the “Active referrals” </p>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
            <div class="fh5co-text">
              <p> </p>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
            <div class="fh5co-text">
              <h2 style = "color: #da1212"> Referrals Bonus </h2><br/>
              <p>Once your referee makes a donation on the system; you are awarded 10% of your referee total donation. This amount will be pocketed to your wallet. Eg: your referee Donates R 10 000 onto the system, you earn yourself R1000.</p>
            </div>
          </div>
        </div>


        <div class="col-md-6">
          <div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
            <div class="fh5co-text">
              <h2 style = "color: #da1212">Advertise Here </h2><br/>
              <p>Community service for free!!, If you have a business that you would like to advertise here. Don’t hesitate, you can do so by a click of a button and it’s a free service for all active members. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
